[submodule "lib/proxy"]
	path = lib/proxy
	url = https://github.com/microsoft/proxy.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/imnodes"]
	path = lib/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "lib/thread-pool"]
	path = lib/thread-pool
	url = https://github.com/DeveloperPaul123/thread-pool.git
